<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 0; bottom: 0; width: 100%; z-index:1;}
    .overlap{
      position: relative;
      z-index:2;
      background: white;
    }

</style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark overlap">
      <a class="navbar-brand" >NYCBusWatcher</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link" href="/">Map <span class="sr-only">(current)</span></a>

           <li class="nav-item active">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/anthonymobile/nycbuswatcher">Code</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container pt-5">

        <p class="pt-5">
            <h1>Frequently Asked Questions</h1>
        </p>

        <p class="pt-5"><h2>What is NYCBusWatcher?</h2>
        NYCBusWatcher is an ongoing resarch project that aims to collect, analyze, and archive real-time location data of vehicles in the MTA New York City bus system. It was launched in September 2020 with the goal of monitoring bus service during the recovery from the COVID-19 pandemic including:
        <ul>
            <li>
                reduced travel speeds due to the resumption of vehicle traffic,
            </li>
            <li>schedule changes due to MTA's deteriorating fiscal situation, </li>
            <li>and crowding conditions indicated by new vehicle occupancy sensors deployed by the MTA on selected vehicles in 2020.</li>
            </ul>

        </p>

               <p class="pt-5"><h2>What do the colored dots indicate?</h2>
        As of October 2020, we're useing the main map to call attention to occupancy data. Blue dots are buses not reporting occupancy. Green indicates seat available, orange means standing-room only, and red is full.</a></p>


        <p class="pt-5"><h2>Isn't someone else already doing this?</h2>
        Transit Center's <a href=""http://busturnaround.nyc/report-cards/">Bus Turnaround Report Card</a> effort has been ongoing for many years and produced a number of well-documented <a href="https://github.com/Bus-Data-NYC">tools</a> and data sources. NYC BusWatcher is building on that work and exploring new directions for how to use and share this data.


        <p class="pt-5"><h2>Who made it?</h2>
        NYC BusWatcher is produced by <a href="https://urbantech.jacobs.cornell.edu/">the Urban Tech Hub at Cornell Tech.</a></p>

        <p class="pt-5">
        <h2>Where does the data come from?</h2>
        All data is retreieved automatcially from the <a href="https://bustime.mta.info/wiki/Developers/Index">MTA BusTime and OneBusAway APIs</a>.</p>

       <p class="pt-5"><h2>Can I have access to the data?</h2>We are developing an API and will update plans soon. Please contact us at urbantech@cornell.edu to discuss data needs in the meantime.</p>



    </div>



    <footer class="text-center">

            <small> &copy; 2018–<script>document.write(new Date().getFullYear())</script> <a href="https://urbantech.network" title="Urban Tech Hub">Urban Tech Hub</a>
            </small>

    </footer>


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>
</html>