<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />

       <!-- Custom styles for this template -->
    <link href="/static/sticky-footer-navbar.css" rel="stylesheet">


<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 0; bottom: 0; width: 100%; z-index:1;}
    .overlap{
      position: relative;
      z-index:2;
      background: white;
    }

</style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark overlap">
      <a class="navbar-brand" >NYCBusWatcher</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" >Map <span class="sr-only">(current)</span></a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/anthonymobile/nycbuswatcher">Code</a>
          </li>
        </ul>
      <div class="container">
        <span class="text-muted"><span style="color: #87CEFA">blue</span> no occupancy data reported <span style="color: #00FF00">green</span> seats available <span style="color: #FFFF00">yellow</span> standing room only <span style="color: #e55e5e">red</span> full

        </span>
      </div>
      </div>

    </nav>


    <div id="map">
    </div>




    <script>
        // TO MAKE THE MAP APPEAR YOU MUST
        // ADD YOUR ACCESS TOKEN FROM
        // https://account.mapbox.com
            mapboxgl.accessToken = 'pk.eyJ1IjoiYml0c2FuZGF0b21zIiwiYSI6ImNrZm9vYTNkdjAzYm4yeXJ2cmh2cGI4cXoifQ.RYsGUuXDe202Mk4xWBli6Q'; //bug remove mapbpx access token from repo / reset it on mapbox

        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/light-v10', // style URL
            center: [-73.93, 40.73], // centroid of NYC
            zoom: 11 // starting zoom
        });



                    map.on('load', function () {
                map.addSource('routes', {type: 'geojson', data: '/static/route_shapes_nyc.geojson'});
                map.addLayer({
                'id': 'routes',
                'source': 'routes',
                'type': 'line',
                    'paint': { 'line-color':'#808080',
                    'line-opacity':0.3,
                    'line-width': 1}
                });

                });

         // var url = '/api/v1/nyc/livemap'; // original db query based version
            var url = '/api/v1/nyc/livemap2'; // new static version
            var passengers = {{ passengers }}


            map.on('load', function () {
            var request = new XMLHttpRequest();
            window.setInterval(function () {
            // make a GET request to parse the GeoJSON at the url
            request.open('GET', url, true);
            request.onload = function () {
            if (this.status >= 200 && this.status < 400) {
            // retrieve the JSON from the response
            var json = JSON.parse(this.response);

            // update the drone symbol's location on the map
            map.getSource('observations').setData(json);



            // fly the map to the drone's current location
            map.flyTo({
            center: json.geometry.coordinates,
            speed: 0.5
            });
            }
            };
            request.send();
            }, 30000); // refresh every n milliseconds



            map.addSource('observations', { type: 'geojson', data: url });
            map.addLayer({
                'id': 'buses',
                'type': 'circle',
                'source': 'observations',
                'paint': {
                'circle-radius':
                    ["interpolate", ["linear"], ["zoom"],
                        0, 0,
                        20, ['*', 2, ['get', 'passengers']]],


                    'circle-color': [
                        'match',
                        ['get', 'occupancy'],
                        'full',
                        '#e55e5e',
                        'standingAvailable',
                        '#FFFF00',
                        'seatsAvailable',
                        '#00FF00',
                        /* null */ '#87CEFA'
                        ]
                        },
            });
            });


            // todo add show entire record metadata on mouseover

    </script>
{##}
{##}
{#    <footer class="text-center">#}
{##}
{#            <small> &copy; 2018–<script>document.write(new Date().getFullYear())</script> <a href="https://urbantech.network" title="Urban Tech Hub">Urban Tech Hub</a>#}
{#            </small>#}
{##}
{#    </footer>#}


        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>
</html>